//colors
$pale-silver: #f4f5f6;
$white: #ffffff;
$secondary-font-color: #59656f;
$accent-background-color: #75b9be;
$secondary-accent-background-color: #d5e1e2;
$primary-background-color: #a4aeb6;

//fonts
$primary-font-family: 'Abhaya Libre', serif;
$main-content-font-size: 20px;
$error-notification-font-size: 17px;

