

///FONT COLORS
//colors
$pale-silver: #f4f5f6;
$white: #ffffff;
$black-coral: #59656f;
$razzmic-berry: #9c528b;
$raisin-black: #1d1e2c;
$primary-background-color: #a4aeb6;

//fonts
$primary-font-family: 'Abhaya Libre', serif;
