@use 'normalize.css' as *;
@use '_variables.scss' as *;
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

body {
  background-color: $primary-background-color;
  font-family: $primary-font-family;
  width: 100vw;
  margin: 0;
}

img {
  height: 250px;
  width: 314px;
  border-radius: 6px;
  max-width: 320px;
  @media screen and (max-width: 425px) {
    width: 300px;
  }
 }

 .button-img {
   height: 30px;
   width: 30px;
   margin: 3px;
 }

 .plane {
  display: block;
  margin: 0 auto;;
}

 .submit-img {
   height: 10px;
   width: 10px;
 }
 
/* *---- Layout Containers ---- */ 
main {
  width: 90%;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.plane-logo {
  height: 30px;
  width: 20px;
}

/* -----------------HEADER----------------- */
header, .nav-footer {
  background-color: $accent-background-color;
  height: 150px;
  display: flex;
  flex-direction: columns;
  justify-content: space-between;
  align-content: flex-end;
  align-content: flex-end;
    @media screen and (max-width: 425px) {
      height: 110px;
    }
 }

 .nav-button {
   height: 80px;
   width: 110px;
   margin: 20px;
   font-size: 1em;
    @media screen and (max-width: 425px) {
      height: 80px;
      margin: 6px;
    }
 }

 .nav-footer {
   justify-content: center;
   align-items: center;
   padding: 20px;
   height: 75px;
 }

h1 {
  font-weight: Extra-bold 800;
  font-style: italic;
}

.welcome-traveler {
  margin: 60px;
    @media screen and (max-width: 450px) {
      margin: 20px;
      font-weight: 1.2em;
    } 
}

h2 {
  margin: 20px;
  font-weight: Semi-bold 600;
}

p {
  margin: 5px;
  font-size: $main-content-font-size;
}

.card-label {
  font-weight: bold;
  font-style: italic;
}

.error {
  color: #59656f;
  font-size: $error-notification-font-size
}

            //TRIPS AND TRIPS CONTAINER
.trip-container, .yearly-expenses {
  border-radius: 2px;
  height: 25vh;
  display: flex;
  overflow: auto;
  flex-direction: column;
  background-color: $white;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  @media screen and (min-width: 450px) {
    width: 40vw;
    height: 30vh;
    margin: 20px;
   }
}


.yearly-expenses {
  @media screen and (min-width: 450px) {
    width: 80vw;
    height: 15vh;
    margin-left: 40px;
   }
}

.trip-container-wrapper {
  @media screen and (min-width: 450px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
}

.past-trips, .present-trips, .future-trips, .pending-trips {
  display: flex;
  @media screen and (min-width: 450px) {
    flex: 1;
   }
}

.trip {
  background-color: $pale-silver;
  margin: 6px;
}

.trip-label {
  font-weight: bold;
}

                   //BOOK A TRIP FORM

fieldset {
  display: flex;
  justify-content: center;
  border: 0;
  background-color: $secondary-accent-background-color;
}

.user-login-fieldset {
  background-color: transparent;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 450px) {
    margin-top: 50px;
   }
}

.user-login-form button {
  display: block;
}

.user-login-form input {
  width: 240px;
}

.user-login-form {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  padding: 12px;
}

label {
  display: block;
  font-size: $main-content-font-size;
}

legend {
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}

.destination-name-container {
  img {
    opacity: .8;

    &:hover {
      opacity: .6;
    }
  }
}



.double-container {
  width: 50vw;
}

              // DESTINATIONS CONTAINER
.destination-container {
  width: 100%;
  padding: 15px;
}

.book-a-trip-submit {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  height: 30px;
  margin: 3px;
  margin-top: 23px;
}

.input-container {
  padding: 6px;
}

.inputs-container {
  width: 60vw;
  display: flex;
  align-items: center;
    @media screen and (max-width: 450px) {
        flex-direction: column;
        flex-wrap: wrap;
      }
}

.destinations-title {
  font-style: italic;
}

.hidden {
  display: none;
}

.card-top {
  display: flex;
  justify-content: center;
  font-size: $error-notification-font-size;
  background-color: $secondary-accent-background-color;
  max-width: 314px;
  min-width: 314px;
  border-radius: 3px;
  @media screen and (max-width: 425px) {
    width: 300px;
    max-width: 300px;
  }
}

.glide__arrow {
  color: black;
  background-color: white;
}



